.container{
    padding-top:30px;
    padding-bottom:30px;
}
#map{
    background:#CCC;
}
.fixed-bottom{
    position:fixed;
    left:16px;
    bottom:0;
    max-width:320px;
}
.btn {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    }
.btn + .btn {
margin-left: 6px;
}
.pie{
    width:50px;
    height:50px;
    border-radius:50%;
    background:yellowgreen;
    background-image:linear-gradient(to right,transparent 50%,#CE0000 0);
}
@keyframes scoll{
    to{transform:rotate(180deg);}
}
@keyframes bg{
    50%{background:#CE0000;}
}


.pie::before{
    content:'';
    display:block;
    margin-left:50%;
    height:100%;
    background:yellowgreen;
    border-radius:0 100% 100% 0/50%;
    transform-origin:left;
    animation:
    scoll 50s linear infinite,
    bg 100s step-end infinite;
    animation-delay:-30s;
    animation-play-state:paused;
}

#flotcontainer {
    width: 50px;
    height:50px;
}
