html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  /* text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 3px 8px rgba(0,0,0,.25),
                 0 5px 5px rgba(0,0,0,.2),
                 0 10px 10px rgba(0,0,0,.15); */
  color: #fff;
}

.title {
  background-color: #acd6ff;
}
.container {
  padding-top: 0px;
  padding-bottom: 10px;
}
#map {
  background: #ccc;
}

.fixed-bottom {
  position: fixed;
  left: 16px;
  bottom: 0;
  max-width: 320px;
}
.btn {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}
.btn + .btn {
  margin-left: 6px;
}
.pie {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: yellowgreen;
  background-image: linear-gradient(to right, transparent 50%, #ce0000 0);
}
@keyframes scoll {
  to {
    transform: rotate(180deg);
  }
}
@keyframes bg {
  50% {
    background: #ce0000;
  }
}

.pie::before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  background: yellowgreen;
  border-radius: 0 100% 100% 0/50%;
  transform-origin: left;
  animation: scoll 50s linear infinite, bg 100s step-end infinite;
  animation-delay: -30s;
  animation-play-state: paused;
}

#flotcontainer {
  width: 50px;
  height: 50px;
}
